# Ignore build output
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore Visual Studio and Rider files
.vscode/
.idea/

# Ignore Mac OS files
.DS_Store

# Ignore Windows files
Thumbs.db
ehthumbs.db

# Ignore NuGet packages
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/build/*.targets
!**/packages/build/*.props

# Ignore test results
TestResults/
*.trx

# Ignore publish output
publish/

# Ignore git files
.git